<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MonitorWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.monitor.web.RegistServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.monitor.web.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CarServlet</servlet-name>
		<servlet-class>com.monitor.web.CarServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MonitorDataServlet</servlet-name>
		<servlet-class>com.monitor.web.MonitorDataServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LocationInfoServlet</servlet-name>
		<servlet-class>com.monitor.web.LocationInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/Servlet/RegistServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Servlet/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CarServlet</servlet-name>
		<url-pattern>/Servlet/CarServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MonitorDataServlet</servlet-name>
		<url-pattern>/Servlet/MonitorDataServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LocationInfoServlet</servlet-name>
		<url-pattern>/Servlet/LocationInfoServlet</url-pattern>
	</servlet-mapping>

</web-app>